<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlayPeople</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayPeople.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" />
</head>
<body>
    <header>
        <div class="main">
            <h1>PlayPeople</h1>
        </div>
        <nav>
            <div class="games">
                <a href="/games">Игры</a>
            </div>
            <div class="separator">|</div>
            <div class="news">
                <a href="/news">Новости</a>
            </div>
            <div class="separator">|</div>
            <div class="reader">
                <a href="/read">Читать</a>
            </div>
            <div class="separator">|</div>
            <div class="releases">
                <a href="/releases">Релизы</a>
            </div>
            <div class="separator">|</div>
            <div class="support">
                <a href="/support">Поддержка</a>
            </div>
        </nav>
        <div class="right-section">
            <div class="login">
                <a href="/login">Вход</a>
            </div>
            <div class="register">
                <a href="/register">Регистрация</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-mute">
        <div class="container">
            &copy; 2024 PlayPeople
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>