@using Microsoft.AspNetCore.Identity
@using PlayPeople.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("admin"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Администратор
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Профиль</a></li>
                <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" asp-area="" asp-page="/Admin/Games/Index">Игры</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-page="/Index">Домой</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Выход</a></li>
            </ul>
        </li>
    }
    else if (User.IsInRole("reader"))
    {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Читатель
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Профиль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Выход</a></li>
                </ul>
            </li>
    }
    else if (User.IsInRole("editor"))
    {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    Редактор
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Профиль</a></li>
                    <li><hr class="dropdown-divider"></li>

                    <li><a class="dropdown-item" asp-area="" asp-page="/Editor/Games/Index">Игры</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-page="/Index">Домой</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Выход</a></li>
                </ul>
            </li>
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
