<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlayPeople</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlayPeople.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" />
    <style>

        html, body {
            margin: 0;
            padding: 0;
        }

        .game-content {
            background-color: #1e2224; /* Цвет фона контента */
            border-radius: 16px; /* Радиус скругления углов */
            padding: 20px; /* Внутренний отступ контента */
            position: relative;
            z-index: 1;
            max-width: 1280px;
            margin: 0 auto;
            min-height: 40rem;
            height: 100%;
        }
    </style>
</head>
<body>
    <div class="game-content">
        <div class="max-width">
            <div class="home-content">
                <h3>Читать</h3>
            </div>
        </div>
    </div>

</body>
</html>